.MatchPage{
    display:grid;
    grid-template-columns: 1fr 8fr;
    grid-column-gap: 20px;

    .year-selector{
        justify-self: end;
    }

    .page-heading{
        margin:20px auto;
    }
    .no-matches-found{
        text-align: center;
    }
}