.VSMatchPage{
    display:grid;
    grid-template-columns: 1fr 5fr;
    grid-column-gap: 20px;

    .team-selector{
        justify-self: end;
    }

    .page-heading{
        margin:20px auto;
    }

    .no-matches-found{
        text-align: center;
    }
}